@model ViewModel.BookViewModel

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeBuku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeBuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBuku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaBuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<input type="button" value="Close" data-dismiss="modal" onclick="GetList()" class="btn btn-secondary" />
